In [13]:
import pandas as pd
import numpy as np 
import pandasql as ps
import matplotlib.pyplot as plt 
import seaborn as sns
import joblib

In [14]:
df = pd.read_csv("test.csv")

In [15]:
df.head()

,ID,Gender,Race,Age,Age_Group,Income,Credit_Score,Loan_Amount,Employment_Type,Education_Level,Citizenship_Status,Language_Proficiency,Disability_Status,Criminal_Record,Zip_Code_Group
0,589,Male,White,30,25-60,143019,544,157852,Full-time,High School,Citizen,Limited,No,No,Urban Professional
1,1580,Male,White,38,25-60,83581,595,170075,Full-time,Some College,Citizen,Fluent,No,No,Working Class Urban
2,5950,Female,White,19,Under 25,133965,577,53473,Full-time,Bachelor's,Citizen,Limited,No,No,Rural
3,475,Female,White,66,Over 60,88912,643,229985,Part-time,High School,Citizen,Limited,No,No,High-income Suburban
4,1079,Female,White,72,Over 60,59713,525,390167,Gig,High School,Citizen,Fluent,No,No,Working Class Urban

In [16]:
test_data = pd.read_csv("test.csv")
ids = test_data["ID"]

In [17]:
test_data = test_data.drop(columns=['ID'])

In [20]:
rf = joblib.load("rf_model.pkl")
X_columns = joblib.load("X.columns.pkl")
scaler = joblib.load("scaler.pkl")

In [21]:
test_data = pd.get_dummies(test_data)

In [22]:
for col in X_columns:
    if col not in test_data.columns:
        test_data[col] = 0

In [23]:
test_data = test_data[X_columns]

In [24]:
num_cols = ['Income', 'Credit_Score', 'Loan_Amount']
test_data[num_cols] = scaler.transform(test_data[num_cols])

In [25]:
test_data = test_data.replace([np.inf, -np.inf],np.nan)
test_data.fillna(0, inplace=True)

In [26]:
preds = rf.predict(test_data)

In [27]:
submission = pd.DataFrame({
    'ID': ids,
    'Loan_Approved':preds
})
submission['Loan_Approved'] = submission['Loan_Approved'].map({1: 'Approved', 0: 'Denied'})

In [28]:
submission.to_csv("loan_predictions.csv", index=False)
print("loan_predictions.csv saved")

loan_predictions.csv saved